.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  min-width: 300px;
  max-width: 500px;

  padding: 2em;
  margin-bottom: 20px;

  color: var(--white);
  background-color: var(--dark);

  border-radius: 20px;
  border-top: 1px solid var(--secondary);

  box-shadow: 0 10px 15px -10px rgba(0,0,0,0.3);
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  color: var(--error);
}

.error, label {
  margin-left: 1em;
}

.input {
  height: 50px;
  width: 100%;

  padding: 0 10px;
  margin: 1em 0;

  background-color: var(--primary);
  color: var(--light);

  border: none;
  border-radius: 20px;

  box-shadow: 0 0 20px -5px rgba(0,0,0,0.2);

  font-size: 14px;
}

.input:focus {
  outline: 1px solid var(--light);
}

.submit {
  padding: 1em 2em;

  background-color: transparent;
  color: var(--success);

  border: 2px solid var(--success);
  border-radius: 20px;

  font-size: 14px;
}

.submit:disabled {
  color: var(--error);
  border-color: var(--error);

  cursor: not-allowed;
}

.submit:hover:enabled {
  color: var(--enable);
  border-color: var(--enable);
}
