/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #16162F;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  width: 100%;
}
